player-connection-mode=Listen
player-connection-guid=1023291807
player-connection-debug=0
player-connection-project-name=NoOnebutMyslef1
player-connection-ip=192.168.1.10
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=7be2bbee0c45474d8a828fe393bd5f85
